:root {
    --hover-text: "test";
}


/*改行修正*/
.ParagraphRenderer:not(.ParagraphRenderer-size-sm) + .ParagraphRenderer:not(.slate-margin-none) {margin-top:var(--newline-space);}

/*====================*\
=-=-=-=-設定画面-=-=-=-=
\*====================*/

.DesktopOptionsControlOptionHeader-header-text {font-size:0}
.DesktopOptionsControlOptionHeader-header-text:before {font-size:13px}

.PersistentActionMenuSection-container:nth-of-type(1) .DesktopOptionsControlOptionHeader-header-text:before {content:var(--locale-Your-settings);}
.PersistentActionMenuSection-container:nth-of-type(2) .DesktopOptionsControlOptionHeader-header-text:before {content:var(--locale-App-settings);}
.PersistentActionMenuSection-container:nth-of-type(3) .DesktopOptionsControlOptionHeader-header-text:before {content:var(--locale-ReGuilded);}

.DesktopOptionsControlItemTemplate-container:is([data-name="Overview"],[data-name="Email"],[data-name="Billing"],[data-name="SecuritySettings"],[data-name="Privacy"],[data-name="Connections"],[data-name="Advanced"],[data-name="GeneralSettings"],[data-name="VoiceAndVideoSettings"],[data-name="KeybindSettings"],[data-name="WindowsSettings"],[data-name="SoundSettings"],[data-name="StreamerMode"],[data-name="rgGeneral"],[data-name="rgAddons"],[data-name="rgThemes"],[data-name="lgcssbtn"]) {padding-bottom:0px}
.DesktopOptionsControlItemTemplate-container:is([data-name="Overview"],[data-name="Email"],[data-name="Billing"],[data-name="SecuritySettings"],[data-name="Privacy"],[data-name="Connections"],[data-name="Advanced"],[data-name="GeneralSettings"],[data-name="VoiceAndVideoSettings"],[data-name="KeybindSettings"],[data-name="WindowsSettings"],[data-name="SoundSettings"],[data-name="StreamerMode"],[data-name="rgGeneral"],[data-name="rgAddons"],[data-name="rgThemes"],[data-name="lgcssbtn"]) .DesktopOptionsControlItemTemplate-label-text {font-size:0;}

.DesktopOptionsControlItemTemplate-container[data-name="Overview"]              .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Overview);}
.DesktopOptionsControlItemTemplate-container[data-name="Email"]                 .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Email);}
.DesktopOptionsControlItemTemplate-container[data-name="Billing"]               .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Billing);}
.DesktopOptionsControlItemTemplate-container[data-name="SecuritySettings"]      .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Security);}
.DesktopOptionsControlItemTemplate-container[data-name="Privacy"]               .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Privacy);}
.DesktopOptionsControlItemTemplate-container[data-name="Connections"]           .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Connections);}
.DesktopOptionsControlItemTemplate-container[data-name="Advanced"]              .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Advanced);}

.DesktopOptionsControlItemTemplate-container[data-name="GeneralSettings"]       .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-General-settings);}
.DesktopOptionsControlItemTemplate-container[data-name="VoiceAndVideoSettings"] .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Voice-and-video);}
.DesktopOptionsControlItemTemplate-container[data-name="KeybindSettings"]       .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Keybinds);}
.DesktopOptionsControlItemTemplate-container[data-name="WindowsSettings"]       .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Windows-settings);}
.DesktopOptionsControlItemTemplate-container[data-name="SoundSettings"]         .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Sound-effect);}
.DesktopOptionsControlItemTemplate-container[data-name="StreamerMode"]          .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Streamer-mode);}

.DesktopOptionsControlItemTemplate-container[data-name="rgGeneral"]             .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-General);}
.DesktopOptionsControlItemTemplate-container[data-name="rgAddons"]              .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Addons);}
.DesktopOptionsControlItemTemplate-container[data-name="rgThemes"]              .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-Themes);}
.DesktopOptionsControlItemTemplate-container[data-name="lgcssbtn"]              .DesktopOptionsControlItemTemplate-label-text:before {font-size:15px;content:var(--locale-CSS-Editor);}



.FormHeader-container {font-size:0}
.FormHeader-container:before {font-size:15px}

.OptionsMenuPageWrapper-container .Form-container-section-border .FormHeader-container:before {content:var(--locale-General-settings);}
.OptionsMenuPageWrapper-container .VoicePreferencesPane-container .FormHeader-container:before {content:var(--locale-Voice-and-video);}
.OptionsMenuPageWrapper-container .DefaultReadonlyEditableForm-container .FormHeader-container:before {content:var(--locale-Overview);}


/*Settings - Overview*/
.OptionsMenuPageWrapper-container .DefaultReadonlyEditableForm-container .FormSection-row .TextInputWithLabel-floating-label {font-size:0}
.OptionsMenuPageWrapper-container .DefaultReadonlyEditableForm-container .FormConfirmButtonV2-text {font-size:0}
.OptionsMenuPageWrapper-container .DefaultReadonlyEditableForm-container .FormSection-row:nth-of-type(1) .TextInputWithLabel-floating-label:before {font-size:14px;content:var(--locale-Your-name);}
.OptionsMenuPageWrapper-container .DefaultReadonlyEditableForm-container .FormSection-row:nth-of-type(2) .TextInputWithLabel-floating-label:before {font-size:14px;content:var(--locale-Email);}
.OptionsMenuPageWrapper-container .DefaultReadonlyEditableForm-container .FormSection-row:nth-of-type(3) .TextInputWithLabel-floating-label:before {font-size:14px;content:var(--locale-URL);}
.OptionsMenuPageWrapper-container .DefaultReadonlyEditableForm-container .FormConfirmButtonV2-container-type-bleached .FormConfirmButtonV2-text:before {font-size:14px;content:var(--locale-Edit-account);}
.OptionsMenuPageWrapper-container .DefaultReadonlyEditableForm-container .FormConfirmButtonV2-container-type-white .FormConfirmButtonV2-text:before {font-size:14px;content:var(--locale-Change-password);}
.OptionsMenuPageWrapper-container .DefaultReadonlyEditableForm-container .FormConfirmButtonV2-container-type-delete .FormConfirmButtonV2-text:before {font-size:14px;content:var(--locale-Delete-account);}

/*Settings - Email*/
.UserSettingsEmailPage-header {font-size:0;}
.UserSettingsEmailPage-select-button:nth-of-type(1) {font-size:0;}
.UserSettingsEmailPage-select-button:nth-of-type(2) {font-size:0;}
.UserSettingsEmailPage-form-item:nth-of-type(1) {font-size:0;}
.UserSettingsEmailPage-form-item:nth-of-type(2) {font-size:0;}
.UserSettingsEmailPage-header:before {font-size:18px;content:var(--locale-Email-settings);}
.UserSettingsEmailPage-select-button:nth-of-type(1):before {font-size:14px;content:var(--locale-Select-all);}
.UserSettingsEmailPage-select-button:nth-of-type(2):before {font-size:14px;content:var(--locale-Deselect-all);}
.UserSettingsEmailPage-form-item:nth-of-type(1):before {font-size:14px;content:var(--locale-Notification-type);}
.UserSettingsEmailPage-form-item:nth-of-type(2):before {font-size:14px;content:var(--locale-Email);}

/*.UserSettingsEmailPage-container*/


/*Settings - 音声・ビデオ*/

/*
.VoiceAndVideoSettingsPage-container .FormFieldLabel-container {font-size:0}
.VoiceAndVideoSettingsPage-container .FormFieldLabel-container:before {font-size:12px}
*/
.VoiceAndVideoSettingsPage-container .FormFieldWrapper-container:nth-of-type(1) .FormFieldLabel-container{font-size:0;}
.VoiceAndVideoSettingsPage-container .FormFieldWrapper-container:nth-of-type(2) .FormFieldLabel-container{font-size:0;}
.VoiceAndVideoSettingsPage-container .FormFieldWrapper-container:nth-of-type(1) .FormFieldLabel-container:before {font-size:12px;content:var(--locale-Input-device);}
.VoiceAndVideoSettingsPage-container .FormFieldWrapper-container:nth-of-type(2) .FormFieldLabel-container:before {font-size:12px;content:var(--locale-Output-device);}

/*
.VoiceAndVideoSettingsPage-container .RangeSlider-label {font-size:0}
.VoiceAndVideoSettingsPage-container .RangeSlider-label:before {font-size:13px}
.VoiceAndVideoSettingsPage-container .GuildedText-container-type-subtextHeading {font-size:0}
*/

.VoiceAndVideoSettingsPage-container .FormFieldWrapper-container:nth-of-type(1) .GuildedText-container-type-subtextHeading:before {content:var(--locale-Input-volume);}
.VoiceAndVideoSettingsPage-container .FormFieldWrapper-container:nth-of-type(2) .GuildedText-container-type-subtextHeading:before {content:var(--locale-Output-volume);}
.MicTester-container .GuildedText-container:before {font-size:13px;content:var(--locale-Mic-test);}
.MicTester-container .MicTester-description {font-size:0;margin-bottom:4px}
.MicTester-container .MicTester-description:before{font-size:14px;content:var(--locale-Mic-test-text);}



/*====================*\
=-=-=-チャット画面-=-=-=
\*====================*/

/*sidebar*/
.SidebarInviteButton-text {font-size:0;}
.SidebarInviteButton-text:before {font-size:15px;content:"招待";}

/*hover*/

.DraggableContext-container:has(.ChannelActivityIcon-container:hover)               .TransientMenuPortalContext-portal-container .HoverContextTooltip-text {font-size:0;}
.DraggableContext-container:has(.NavbarNavIcons-user-settings:hover)                .TransientMenuPortalContext-portal-container .HoverContextTooltip-text {font-size:0;}
.DraggableContext-container:has(.NavbarNavIcons-overflow-dropdown-trigger:hover)    .TransientMenuPortalContext-portal-container .HoverContextTooltip-text {font-size:0;}
.DraggableContext-container:has(.ChannelActivityIcon-container:hover)               .TransientMenuPortalContext-portal-container .HoverContextTooltip-text:before {font-size:12px;content:"アクティビティ";}
.DraggableContext-container:has(.NavbarNavIcons-user-settings:hover)                .TransientMenuPortalContext-portal-container .HoverContextTooltip-text:before {font-size:12px;content:"設定";}
.DraggableContext-container:has(.NavbarNavIcons-overflow-dropdown-trigger:hover)    .TransientMenuPortalContext-portal-container .HoverContextTooltip-text:before {font-size:12px;content:"もっと見る";}

.DraggableContext-container:has(.ChannelHeaderActionButtons-button:hover)               .TransientMenuPortalContext-portal-container .HoverContextTooltip-text {font-size:0;}
.DraggableContext-container:has(.SidebarCollapseButton-container:hover)                .TransientMenuPortalContext-portal-container .HoverContextTooltip-text {font-size:0;}
.DraggableContext-container:has(.ChannelHeaderActionButtons-options-menu-trigger:hover)    .TransientMenuPortalContext-portal-container .HoverContextTooltip-text {font-size:0;}
.DraggableContext-container:has(.ChannelHeaderActionButtons-button:hover)               .TransientMenuPortalContext-portal-container .HoverContextTooltip-text:before {font-size:12px;content:"ピン留めされたアイテム";}
.DraggableContext-container:has(.SidebarCollapseButton-container:hover):has(.icon-collapse-sidebar)                .TransientMenuPortalContext-portal-container .HoverContextTooltip-text:before {font-size:12px;content:"サイドバーを非表示";}
.DraggableContext-container:has(.SidebarCollapseButton-container:hover):has(.icon-expand-sidebar)                .TransientMenuPortalContext-portal-container .HoverContextTooltip-text:before {font-size:12px;content:"サイドバーを表示";}
.DraggableContext-container:has(.ChannelHeaderActionButtons-options-menu-trigger:hover)    .TransientMenuPortalContext-portal-container .HoverContextTooltip-text:before {font-size:12px;content:"チャンネル オプション";}


/*overlay*/


/*More*/
.ContextMenuItem-container:has(.icon-reward)               .ContextMenuItem-label {font-size:0;}
.ContextMenuItem-container:has(.icon-wrench)               .ContextMenuItem-label {font-size:0;}
.ContextMenuItem-container:has(.icon-quill)                .ContextMenuItem-label {font-size:0;}
.ContextMenuItem-container:has(.icon-publish)              .ContextMenuItem-label {font-size:0;}
.ContextMenuItem-container:has(.icon-sparkles)             .ContextMenuItem-label {font-size:0;}
.ContextMenuItem-container:has(.icon-partner-badge-hollow) .ContextMenuItem-label {font-size:0;}
.ContextMenuItem-container:has(.icon-thumbs-up)            .ContextMenuItem-label {font-size:0;}
.ContextMenuItem-container:has(.icon-exit)                 .ContextMenuItem-label {font-size:0;}
.ContextMenuItem-container:has(.icon-reward)               .ContextMenuItem-label:before {font-size:14px;content:"紹介プログラム";}
.ContextMenuItem-container:has(.icon-wrench)               .ContextMenuItem-label:before {font-size:14px;content:"サポート";}
.ContextMenuItem-container:has(.icon-quill)                .ContextMenuItem-label:before {font-size:14px;content:"フィードバック";}
.ContextMenuItem-container:has(.icon-publish)              .ContextMenuItem-label:before {font-size:14px;content:"ブログ";}
.ContextMenuItem-container:has(.icon-sparkles)             .ContextMenuItem-label:before {font-size:14px;content:"変更履歴";}
.ContextMenuItem-container:has(.icon-partner-badge-hollow) .ContextMenuItem-label:before {font-size:14px;content:"パートナーになる";}
.ContextMenuItem-container:has(.icon-thumbs-up)            .ContextMenuItem-label:before {font-size:14px;content:"SNSをフォローする";}
.ContextMenuItem-container:has(.icon-exit)                 .ContextMenuItem-label:before {font-size:14px;content:"ログアウト";}

/*message send*/
.ContextMenuItem-container:has(.icon-media-new)   .ContextMenuItem-label {font-size:0;}
/*.ContextMenuItem-container:has(.icon-toolbar-gif) .ContextMenuItem-label {font-size:0;}*/
.ContextMenuItem-container:has(.icon-polls)       .ContextMenuItem-label {font-size:0;}
.ContextMenuItem-container:has(.icon-custom-form) .ContextMenuItem-label {font-size:0;}
.ContextMenuItem-container:has(.icon-polls)       .ContextMenuItem-body {font-size:0;}
.ContextMenuItem-container:has(.icon-custom-form) .ContextMenuItem-body {font-size:0;}
.ContextMenuItem-container:has(.icon-media-new)   .ContextMenuItem-label:before {font-size:14px;content:"メディアまたはファイル";}
/*.ContextMenuItem-container:has(.icon-toolbar-gif) .ContextMenuItem-label:before {font-size:14px;content:"GIF";}*/
.ContextMenuItem-container:has(.icon-polls)       .ContextMenuItem-label:before {font-size:14px;content:"投票";}
.ContextMenuItem-container:has(.icon-custom-form) .ContextMenuItem-label:before {font-size:14px;content:"フォーム";}


.ContextMenuItem-container:has(.icon-polls)       .ContextMenuItem-body:before {font-size:14px;content:"単一または複数選択肢の質問。";}
.ContextMenuItem-container:has(.icon-custom-form) .ContextMenuItem-body:before {font-size:14px;content:"様々なタイプの問題を複数出題。";}












/*modal*/

/*Change Password*/
.ModalV2-container:has(.ChangePasswordOverlay-container) .ModalHeaderV2-header {font-size:0;}
.ModalV2-container:has(.ChangePasswordOverlay-container) .ModalHeaderV2-header:before {font-size:15px;content:var(--locale-Change-password);}

/*Delete Account*/
.ModalV2-container:has(.DeleteUserAccountOverlay-container) .ModalHeaderV2-header {font-size:0;}
.ModalV2-container:has(.DeleteUserAccountOverlay-container) .GuildedText-container {font-size:0;}
.ModalV2-container:has(.DeleteUserAccountOverlay-container) .ModalHeaderV2-header:before {font-size:15px;content:var(--locale-Danger-Zone);}
.ModalV2-container:has(.DeleteUserAccountOverlay-container) .GuildedText-container:before {font-size:15px;content:var(--locale-Delete-account-have-server);}










