/* https://furdra64.github.io/Guilded-locale/locale/  [ your language (default ja) ]  .css 
        https://furdra64.github.io/Guilded-locale/locale/ja.css     */
@import url(https://furdra64.github.io/Guilded-locale/locale/ja.css);
:root{
    --newline-space: 0px; /*default 20px Recommended 0px*/
    --background-image: url("image link here");
}