@import url(https://furdra64.github.io/Guilded-locale/main.css);
:root{
        /*Settings*/
                        --language: "ja";
              --custom-locale-file: "css link here";
    --Remove-spaces-in-line-breaks: "true";
                --background-image: "image link here";
}