@import url(https://furdra64.github.io/Guilded-locale/main.css);
:root {
    /*Settings*/
    --locale-Your-settings:"ユーザー設定";
        --locale-Overview:"概要";
            --locale-Your-name:"名前";
            --locale-URL:"リンク";
            --locale-Edit-account:"アカウントを編集";
            --locale-Change-password:"パスワードを変更";
            --locale-Delete-account:"アカウントを削除する";
        --locale-Email:"メールアドレス";
        --locale-Billing:"請求";
        --locale-Security:"セキュリティ";
        --locale-Privacy:"プライバシー";
        --locale-Connections:"接続";
        --locale-Advanced:"詳細設定";
    --locale-App-settings:"アプリの設定";
        --locale-General-settings:"一般設定";
        --locale-Voice-and-video:"音声・ビデオ";
            --locale-Input-device:"入力デバイス";
            --locale-Output-device:"出力デバイス";
            --locale-Input-volume:"入力音量";
            --locale-Output-volume:"出力音量";
            --locale-Mic-test:"マイクテスト";
            --locale-Mic-test-text:"マイクのテストにお使いください。あなたの声を再生します";
            --locale-Input-mode:"";
            --locale-Voice-activity:"";
            --locale-Voice-activity-text:"";
            --locale-Push-to-talk:"";
            --locale-Push-to-talk-text:"";
            --locale-Input-sensitivity:"";
            --locale-Input-sensitivity-text1:"";
            --locale-Input-sensitivity-text2:"";
            --locale-Push-to-mute:"";
            --locale-Push-to-mute-text:"";
            --locale-Push-to-broadcast:"";
            --locale-Push-to-broadcast-text:"";
            --locale-Push-to-talk-priority:"";
            --locale-Push-to-talk-priority-text:"";
            --locale-Hotkey-release-delay:"";
            --locale-Hotkey-release-delay-text:"";
            --locale-Audio-features:"";
            --locale-Echo-cancellation:"";
            --locale-Noise-suppression:"";
            --locale-Auto-gain-control:"";
            --locale-Audio-ducking:"";
            --locale-Video-settings:"";
            --locale-Camera:"";
            --locale-Preview:"";
        --locale-Keybinds:"キー割り当て";
            --locale-Set-a-shortcut:"";
            --locale-Record:"";
        --locale-Windows-settings:"Windows設定";
        --locale-Sound-effect:"効果音";
        --locale-Streamer-mode:"配信モード";
    --locale-ReGuilded:"ReGuilded";
        --locale-General:"一般";
        --locale-Addons:"アドオン";
        --locale-Themes:"テーマ";
        /*Addon locale*/
        --locale-CSS-Editor:"CSSエディタ";
    /*Main Screen*/
}